---
import '@astrojs/starlight/style/markdown.css';
import Author from '../Author.astro';

const {entry} = Astro.props;
const { data } = entry;
---

<article>
  <Author author={data?.author} />
  <div class="sl-markdown-content">
    <slot />
  </div>
</article>

<style>
  .sl-markdown-content {
    padding: 1rem;
  }
</style>
