---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/Pagination.astro';
import FeedbackComponent from "../../FeedbackComponent.astro";

const props = Astro.props as Props;
---

<div>
    <div class="mb-5" style="margin-bottom: 20px;">
        <FeedbackComponent />
    </div>
    <Default {...props} />
</div>